<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PostosInfo</title>
</head>
<body>
<h1>Post</h1>
<table border="1.5" style="width: 100%; margin: auto;">
    <caption><h2>Malumotlar jadvali</h2></caption>
    <tr style="text-align: center; background-color: rgb(52, 139, 220);">
        <td><h2>Sarlovha</h2></td>
        <td><h2>Malumot</h2></td>
    </tr>
    {%for post in posts%}
    <tr>
        <td>{{post.nomi}}</td>
        <td>{{post.malumot}}</td>
    </tr>
    {%endfor%}
</table>
</body>
</html>